# Python
venv/
__pycache__/
*.log
*.pyc
*.egg-info/
build/
dist/

# Dependencies
node_modules/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Project Specific
datasets/